.viewing {
    .viewing__content {
        h2 {
            font-size: 1.25rem;
        }
        width: 90%;
        margin: 0 auto;
    }
    @include responsive("screen-1") {
        .viewing__content {
            .card {
                .card-body {
                    .card-title {
                        @include styleText($color-black-0, $fs-1 - 1, $fw-1);
                    }
                    .card-text {
                        @include styleText($color-gray-0, $fs-1 - 2, $fw-0);
                    }
                }
            }
        }
    }
    @include responsive("screen-2") {
        .viewing__content {
            .card {
                .card-body {
                    .card-title {
                        @include styleText($color-black-0, $fs-1 - 3, $fw-1);
                    }
                    .card-text {
                        @include styleText($color-gray-0, $fs-1 - 5, $fw-0);
                    }
                }
            }
        }
    }
}
